
# Tutorial: 10x multiome pbmc


The data consists of *PBMC from a Healthy Donor - Granulocytes Removed Through Cell Sorting (3k)* which is freely available from 10x Genomics (click [here](https://www.10xgenomics.com/resources/datasets/pbmc-from-a-healthy-donor-granulocytes-removed-through-cell-sorting-3-k-1-standard-2-0-0), some personal information needs to be provided before you can gain access to the data). This is a multi-ome dataset.

<div class="alert alert-info">

**Note:**

In this notebook we will only show the minimal steps needed for running the SCENIC+ analysis. For more information on analysing scRNA-seq data and scATAC-seq data we refer the reader to other tutorials (e.g. [Scanpy](https://scanpy-tutorials.readthedocs.io/en/latest/index.html) and [pycisTopic](https://pycistopic.readthedocs.io/en/latest/) in python or [Seurat](https://satijalab.org/seurat/) and [cisTopic](https://github.com/aertslab/cisTopic) or [Signac](https://satijalab.org/signac/) in R).

</div>

## Set-up environment and download data 
We will first create a directory to store the data and results

In [1]:
import os
work_dir = 'pbmc_tutorial'
import pycisTopic
#set some figure parameters for nice display inside jupyternotebooks.
%matplotlib inline

#make a directory for to store the processed scRNA-seq data.
if not os.path.exists(os.path.join(work_dir, 'scATAC')):
    os.makedirs(os.path.join(work_dir, 'scATAC'))
tmp_dir = '/oscar/data/rsingh47/tpham43/'

ModuleNotFoundError: No module named 'pycisTopic'

Specify the location of the ATAC fragments file, this is the main input into pycisTopic.

In [5]:
fragments_dict = {'10x_pbmc': os.path.join(work_dir, 'data/pbmc_granulocyte_sorted_3k_atac_fragments.tsv.gz')}

### Generate pseudobulk ATAC-seq profiles, call peaks and generate a consensus peak set

We will use the cell type labels from the scRNA-seq side of the data to generate pseudobulk profiles per cell type. These pseudobulk profiles will be used to call peaks which will be merged in one consensus peak set.

The advantage of calling peaks per cell type (instead of calling peaks on the whole bulk profile at once) is that, for rare cell types, there is a risk that the ATAC signal of these cells might be confused for noise by the peak caller when viewed in the whole bulk profile. Calling peaks per cell type helps resolving these rare peaks and thus increases the resolution of the data.

We will first load the cell type annotation we generated in the scRNA-seq analysis above.

In [15]:
import scanpy as sc
adata = sc.read_h5ad(os.path.join(work_dir, 'scRNA/adata.h5ad'))
adata

AnnData object with n_obs × n_vars = 2603 × 340
    obs: 'n_genes', 'doublet_score', 'predicted_doublet', 'n_genes_by_counts', 'total_counts', 'total_counts_mt', 'pct_counts_mt', 'ingest_celltype_label', 'leiden_res_0.8', 'celltype'
    var: 'gene_ids', 'feature_types', 'genome', 'n_cells', 'mt', 'n_cells_by_counts', 'mean_counts', 'pct_dropout_by_counts', 'total_counts', 'highly_variable', 'means', 'dispersions', 'dispersions_norm', 'mean', 'std'
    uns: 'celltype_colors', 'hvg', 'ingest_celltype_label_colors', 'leiden', 'leiden_res_0.8_colors', 'log1p', 'neighbors', 'pca', 'scrublet', 'umap'
    obsm: 'X_pca', 'X_umap', 'rep'
    varm: 'PCs'
    obsp: 'connectivities', 'distances'

In [91]:
adata.varm['PCs']

array([[-0.0253034 ,  0.00465935, -0.01765437, ...,  0.03878163,
         0.05171565, -0.09465852],
       [-0.01848559,  0.00251321,  0.00181723, ...,  0.00191663,
         0.01899515,  0.02849598],
       [-0.00334583,  0.02559683,  0.01415306, ...,  0.03252344,
        -0.07208318, -0.03594767],
       ...,
       [ 0.1340777 ,  0.02612962, -0.02800387, ..., -0.03469239,
        -0.0420995 , -0.01510095],
       [ 0.00076975, -0.07723995,  0.10534835, ..., -0.11510067,
         0.05080847, -0.00559565],
       [-0.02409383, -0.00278305, -0.01773829, ...,  0.07455043,
        -0.07981651, -0.0718854 ]])

In [21]:
import pandas as pd

In [24]:
pca = pd.DataFrame(abs(adata.varm['PCs']),index =adata.var.index ).T

In [25]:
variance = adata.uns['pca']['variance']

In [28]:
weighted_feature = pd.DataFrame(pca.T @ variance, columns = ['Weight']).sort_values(by="Weight", ascending=False)

In [31]:
top_10_genes = weighted_feature.index[:10]
top_10_genes

Index(['FCER1G', 'HLA-DQA1', 'CCL5', 'HLA-DRB1', 'GZMB', 'ARHGAP24', 'GZMH',
       'TYROBP', 'HLA-DPB1', 'GZMA'],
      dtype='object')

In [33]:
import pickle
cistopic_obj = pickle.load(open(os.path.join(work_dir, 'scATAC/cistopic_obj.pkl'), 'rb'))

In [45]:
atac_matrix = cistopic_obj.fragment_matrix.toarray()

In [46]:
atac_peaks = pd.DataFrame(cistopic_obj.region_names)
atac_peaks.rename(columns={0: 'features'}, inplace=True)

In [47]:
atac_barcode= pd.DataFrame(cistopic_obj.cell_names)
atac_barcode.rename(columns={0: 'orig.ident'}, inplace=True)

In [49]:
#### atac anndata
atac_adata = sc.AnnData(atac_matrix.T,
                  var = atac_peaks['features'].to_frame(),
                  obs = atac_barcode['orig.ident'].to_frame(),
#                       var_names='gene_symbols'                # use gene symbols for the variable names (variables-axis index
                  )
atac_adata

/oscar/data/koconno5/tpham43/env_scenicplus/lib64/python3.9/site-packages/anndata/_core/aligned_df.py:67: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

AnnData object with n_obs × n_vars = 2412 × 194115
    obs: 'orig.ident'
    var: 'features'

In [50]:
atac_peaks[['Chromosome', 'Start','End']] = atac_peaks['features'].str.split(':|-', expand=True)

        Chromosome      Start        End
0       GL000194.1     101175     101675
1       GL000194.1     101908     102408
2       GL000194.1     114713     115213
3       GL000195.1      22453      22953
4       GL000195.1      32234      32734
...            ...        ...        ...
194110        chrX   40170588   40171088
194111        chrX   45768071   45768571
194112        chrX    3711862    3712362
194113        chrX  107715002  107715502
194114        chrX  154370450  154370950

[194115 rows x 3 columns]

In [51]:
atac_peaks[['Chromosome', 'Start','End']].to_csv("./atac_peaks.bed",header = False, index = False, sep = "\t")

In [52]:
# !module load bedtools2
# !bedtools window -w 2000 -a ./gencode.v38.annotation.gff3.gz -b atac_peaks.bed > atac_peaks_filtered.bed
# !cat atac_peaks_filtered.bed | cut -f4,5,6,7 > atac_peaks_filtered_sub.bed

/bin/bash: line 1: bedtools: command not found

In [53]:
def overlap(q_st, q_end, res_st, res_end):
    o  = min(q_end, res_end)-max(q_st, res_st)
    return o
def gencode_all_known_genes(a, tb):
    genes = []
    try:
        for region in tb.fetch(a['chr'], int(a['start']), int(a['end'])):
            if region:
                r = region.split('\t')
                overlap_len = overlap(int(a['start']), int(a['end']), int(r[1]), int(r[2]))
                ret_val = '{}({})'.format(r[3], np.round(overlap_len/float(int(a['end'])-int(a['start']))*100, 2)) ### Percentage of the input interval that overlap with the gene
                genes.append(ret_val)
        if len(genes)>0:
            return ";".join(genes)
        else:
            return "NA(0)"
    except ValueError:
        return "NA(0)"

In [63]:
gencode = pd.read_table("./atac_peaks_filtered.bed", comment="#",
                        sep = "\t", names = ['seqname','source','feature','start','end','NA1','NA2','NA3','attribute','seqname_2', 'start_2' , 'end_2'])
gencode

,seqname,source,feature,start,end,NA1,NA2,NA3,attribute,seqname_2,start_2,end_2
0,chr1,HAVANA,gene,586071,827796,.,-,.,ID=ENSG00000230021.10;gene_id=ENSG00000230021....,chr1,817073,817573
1,chr1,HAVANA,gene,586071,827796,.,-,.,ID=ENSG00000230021.10;gene_id=ENSG00000230021....,chr1,822183,822683
2,chr1,HAVANA,gene,586071,827796,.,-,.,ID=ENSG00000230021.10;gene_id=ENSG00000230021....,chr1,819940,820440
3,chr1,HAVANA,gene,586071,827796,.,-,.,ID=ENSG00000230021.10;gene_id=ENSG00000230021....,chr1,821647,822147
4,chr1,HAVANA,gene,586071,827796,.,-,.,ID=ENSG00000230021.10;gene_id=ENSG00000230021....,chr1,825291,825791
...,...,...,...,...,...,...,...,...,...,...,...,...
4179780,chrX,HAVANA,exon,155889458,155889547,.,+,.,ID=exon:ENST00000460621.6:2;Parent=ENST0000046...,chrX,155891359,155891859
4179781,chrX,HAVANA,CDS,155889467,155889547,.,+,0,ID=CDS:ENST00000460621.6;Parent=ENST0000046062...,chrX,155891359,155891859
4179782,chrX,HAVANA,start_codon,155889467,155889469,.,+,0,ID=start_codon:ENST00000460621.6;Parent=ENST00...,chrX,155891359,155891859
4179783,chrX,HAVANA,five_prime_UTR,155881378,155881448,.,+,.,ID=UTR5:ENST00000460621.6;Parent=ENST000004606...,chrX,155881049,155881549
4179784,chrX,HAVANA,five_prime_UTR,155889458,155889466,.,+,.,ID=UTR5:ENST00000460621.6;Parent=ENST000004606...,chrX,155891359,155891859

In [77]:
gencode_genes = gencode[(gencode.feature == "gene")][['seqname', 'start_2', 'end_2', 'attribute']].copy().reset_index().drop('index', axis=1) # Extract genes
gencode_genes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219399 entries, 0 to 219398
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   seqname    219399 non-null  object
 1   start_2    219399 non-null  int64
 2   end_2      219399 non-null  int64
 3   attribute  219399 non-null  object
dtypes: int64(2), object(2)
memory usage: 6.7+ MB

In [78]:
def gene_info(x):
    # Extract gene names
#     print(x)
    g_name = list(filter(lambda x: 'gene_name' in x,  x.split(";")))[0].split("=")[1]
    g_type = list(filter(lambda x: 'gene_type' in x,  x.split(";")))[0].split("=")[1]
#     g_status = list(filter(lambda x: 'gene_status' in x,  x.split(";")))[0].split("=")[1]
    g_leve = int(list(filter(lambda x: 'level' in x,  x.split(";")))[0].split("=")[1])
    return (g_name, g_type, g_leve)

In [79]:
gencode_genes["gene_name"], gencode_genes["gene_type"], gencode_genes["gene_level"] = zip(*gencode_genes.attribute.apply(lambda x: gene_info(x)))
gencode_genes

,seqname,start_2,end_2,attribute,gene_name,gene_type,gene_level
0,chr1,817073,817573,ID=ENSG00000230021.10;gene_id=ENSG00000230021....,RP11-206L10.17,transcribed_processed_pseudogene,2
1,chr1,822183,822683,ID=ENSG00000230021.10;gene_id=ENSG00000230021....,RP11-206L10.17,transcribed_processed_pseudogene,2
2,chr1,819940,820440,ID=ENSG00000230021.10;gene_id=ENSG00000230021....,RP11-206L10.17,transcribed_processed_pseudogene,2
3,chr1,821647,822147,ID=ENSG00000230021.10;gene_id=ENSG00000230021....,RP11-206L10.17,transcribed_processed_pseudogene,2
4,chr1,825291,825791,ID=ENSG00000230021.10;gene_id=ENSG00000230021....,RP11-206L10.17,transcribed_processed_pseudogene,2
...,...,...,...,...,...,...,...
219394,chrX,155611127,155611627,ID=ENSG00000168939.12;gene_id=ENSG00000168939....,SPRY3,protein_coding,2
219395,chrX,155612364,155612864,ID=ENSG00000168939.12;gene_id=ENSG00000168939....,SPRY3,protein_coding,2
219396,chrX,155632064,155632564,ID=ENSG00000168939.12;gene_id=ENSG00000168939....,SPRY3,protein_coding,2
219397,chrX,155891359,155891859,ID=ENSG00000124333.16;gene_id=ENSG00000124333....,VAMP7,protein_coding,2
219398,chrX,155881049,155881549,ID=ENSG00000124333.16;gene_id=ENSG00000124333....,VAMP7,protein_coding,2

In [80]:
gene_list = top_10_genes

In [81]:
gencode_genes = gencode_genes[gencode_genes['gene_name'].isin(gene_list)]

In [82]:
gencode_genes.drop_duplicates()

,seqname,start_2,end_2,attribute,gene_name,gene_type,gene_level
14933,chr1,161214979,161215479,ID=ENSG00000158869.11;gene_id=ENSG00000158869....,FCER1G,protein_coding,2
14934,chr1,161217205,161217705,ID=ENSG00000158869.11;gene_id=ENSG00000158869....,FCER1G,protein_coding,2
14935,chr1,161214370,161214870,ID=ENSG00000158869.11;gene_id=ENSG00000158869....,FCER1G,protein_coding,2
14936,chr1,161216484,161216984,ID=ENSG00000158869.11;gene_id=ENSG00000158869....,FCER1G,protein_coding,2
14937,chr1,161217802,161218302,ID=ENSG00000158869.11;gene_id=ENSG00000158869....,FCER1G,protein_coding,2
...,...,...,...,...,...,...,...
194340,chr19,35902054,35902554,ID=ENSG00000011600.12;gene_id=ENSG00000011600....,TYROBP,protein_coding,2
194341,chr19,35903583,35904083,ID=ENSG00000011600.12;gene_id=ENSG00000011600....,TYROBP,protein_coding,2
194342,chr19,35909116,35909616,ID=ENSG00000011600.12;gene_id=ENSG00000011600....,TYROBP,protein_coding,2
194343,chr19,35908083,35908583,ID=ENSG00000011600.12;gene_id=ENSG00000011600....,TYROBP,protein_coding,2
194344,chr19,35904765,35905265,ID=ENSG00000011600.12;gene_id=ENSG00000011600....,TYROBP,protein_coding,2

In [84]:
top_10_genes

Index(['FCER1G', 'HLA-DQA1', 'CCL5', 'HLA-DRB1', 'GZMB', 'ARHGAP24', 'GZMH',
       'TYROBP', 'HLA-DPB1', 'GZMA'],
      dtype='object')

In [132]:
regions = gencode_genes['region'].unique()
len(regions)

116

In [129]:
gencode_genes['region'] = gencode_genes.apply(lambda row: ':'.join([str(row['seqname']), str(row['start_2'])]) + '-' + str(row['end_2']), axis=1)
# (gencode_genes['seqname']+":"+str(gencode_genes['start_2'])+"-"+str(gencode_genes['end_2']))

In [130]:
gencode_genes.to_csv("ground_truth_10genes_colin.tsv",sep ="\t")

In [131]:
gencode_genes

,seqname,start_2,end_2,attribute,gene_name,gene_type,gene_level,region
14933,chr1,161214979,161215479,ID=ENSG00000158869.11;gene_id=ENSG00000158869....,FCER1G,protein_coding,2,chr1:161214979-161215479
14934,chr1,161217205,161217705,ID=ENSG00000158869.11;gene_id=ENSG00000158869....,FCER1G,protein_coding,2,chr1:161217205-161217705
14935,chr1,161214370,161214870,ID=ENSG00000158869.11;gene_id=ENSG00000158869....,FCER1G,protein_coding,2,chr1:161214370-161214870
14936,chr1,161216484,161216984,ID=ENSG00000158869.11;gene_id=ENSG00000158869....,FCER1G,protein_coding,2,chr1:161216484-161216984
14937,chr1,161217802,161218302,ID=ENSG00000158869.11;gene_id=ENSG00000158869....,FCER1G,protein_coding,2,chr1:161217802-161218302
...,...,...,...,...,...,...,...,...
194340,chr19,35902054,35902554,ID=ENSG00000011600.12;gene_id=ENSG00000011600....,TYROBP,protein_coding,2,chr19:35902054-35902554
194341,chr19,35903583,35904083,ID=ENSG00000011600.12;gene_id=ENSG00000011600....,TYROBP,protein_coding,2,chr19:35903583-35904083
194342,chr19,35909116,35909616,ID=ENSG00000011600.12;gene_id=ENSG00000011600....,TYROBP,protein_coding,2,chr19:35909116-35909616
194343,chr19,35908083,35908583,ID=ENSG00000011600.12;gene_id=ENSG00000011600....,TYROBP,protein_coding,2,chr19:35908083-35908583
194344,chr19,35904765,35905265,ID=ENSG00000011600.12;gene_id=ENSG00000011600....,TYROBP,protein_coding,2,chr19:35904765-35905265

In [100]:
subset_adata = adata[:,top_10_genes]
# Assuming you have row and column names associated with your data
row_names = subset_adata.obs_names
column_names = subset_adata.var_names

# Converting the data matrix to a pandas DataFrame with row and column names
df_rna = pd.DataFrame(subset_adata.X, index=row_names, columns=column_names)

In [147]:
list(regions)

['chr1:161214979-161215479',
 'chr1:161217205-161217705',
 'chr1:161214370-161214870',
 'chr1:161216484-161216984',
 'chr1:161217802-161218302',
 'chr1:161219385-161219885',
 'chr1:161220174-161220674',
 'chr1:161220772-161221272',
 'chr1:161221385-161221885',
 'chr1:161222608-161223108',
 'chr1:161218412-161218912',
 'chr4:85477582-85478082',
 'chr4:85482206-85482706',
 'chr4:85499502-85500002',
 'chr4:85500429-85500929',
 'chr4:85498373-85498873',
 'chr4:85514135-85514635',
 'chr4:85525945-85526445',
 'chr4:85531760-85532260',
 'chr4:85555137-85555637',
 'chr4:85566072-85566572',
 'chr4:85603743-85604243',
 'chr4:85607565-85608065',
 'chr4:85610396-85610896',
 'chr4:85657145-85657645',
 'chr4:85660519-85661019',
 'chr4:85659606-85660106',
 'chr4:85669166-85669666',
 'chr4:85679255-85679755',
 'chr4:85672565-85673065',
 'chr4:85681170-85681670',
 'chr4:85697826-85698326',
 'chr4:85699874-85700374',
 'chr4:85701964-85702464',
 'chr4:85713020-85713520',
 'chr4:85707692-85708192',
 'chr4:85717033-85717533',
 'chr4:85736496-85736996',
 'chr4:85725585-85726085',
 'chr4:85733553-85734053',
 'chr4:85741260-85741760',
 'chr4:85747798-85748298',
 'chr4:85743280-85743780',
 'chr4:85761766-85762266',
 'chr4:85778241-85778741',
 'chr4:85796756-85797256',
 'chr4:85798344-85798844',
 'chr4:85842494-85842994',
 'chr4:85863143-85863643',
 'chr4:85928892-85929392',
 'chr4:85969079-85969579',
 'chr4:85491428-85491928',
 'chr4:85557213-85557713',
 'chr4:85475077-85475577',
 'chr4:85671775-85672275',
 'chr5:55103930-55104430',
 'chr5:55105043-55105543',
 'chr5:55102364-55102864',
 'chr5:55101430-55101930',
 'chr6:32577395-32577895',
 'chr6:32578633-32579133',
 'chr6:32583456-32583956',
 'chr6:32584065-32584565',
 'chr6:32580502-32581002',
 'chr6:32586296-32586796',
 'chr6:32589026-32589526',
 'chr6:32589596-32590096',
 'chr6:32587701-32588201',
 'chr6:32626147-32626647',
 'chr6:32627054-32627554',
 'chr6:32629187-32629687',
 'chr6:32632589-32633089',
 'chr6:32627858-32628358',
 'chr6:32634210-32634710',
 'chr6:32641228-32641728',
 'chr6:32639973-32640473',
 'chr6:32642545-32643045',
 'chr6:32637082-32637582',
 'chr6:32638291-32638791',
 'chr6:32642009-32642509',
 'chr6:32636468-32636968',
 'chr6:33076437-33076937',
 'chr6:33075595-33076095',
 'chr6:33077779-33078279',
 'chr6:33084838-33085338',
 'chr6:33091119-33091619',
 'chr6:33080104-33080604',
 'chr6:33081253-33081753',
 'chr6:33082641-33083141',
 'chr6:33088528-33089028',
 'chr6:33080752-33081252',
 'chr6:33078803-33079303',
 'chr14:24605468-24605968',
 'chr14:24607197-24607697',
 'chr14:24608233-24608733',
 'chr14:24609473-24609973',
 'chr14:24629283-24629783',
 'chr14:24629919-24630419',
 'chr14:24630810-24631310',
 'chr14:24632325-24632825',
 'chr14:24631747-24632247',
 'chr14:24634110-24634610',
 'chr17:35870597-35871097',
 'chr17:35876371-35876871',
 'chr17:35879458-35879958',
 'chr17:35871374-35871874',
 'chr17:35875497-35875997',
 'chr17:35877466-35877966',
 'chr17:35880196-35880696',
 'chr17:35878216-35878716',
 'chr19:35907044-35907544',
 'chr19:35902054-35902554',
 'chr19:35903583-35904083',
 'chr19:35909116-35909616',
 'chr19:35908083-35908583',
 'chr19:35904765-35905265']

In [151]:
atac_adata.obs

                       orig.ident
0     ACACTAATCGTTAGCG-1-10x_pbmc
1     GCAATGAAGTAGCGGG-1-10x_pbmc
2     TGAGCTTAGCTTAGCG-1-10x_pbmc
3     GTTTCAGCATGAATAG-1-10x_pbmc
4     ACCGAAGCAAAGGCCA-1-10x_pbmc
...                           ...
2407  GTTCCCAGTAATCCCT-1-10x_pbmc
2408  ATTCACTTCCTAACGG-1-10x_pbmc
2409  ATTCGTTTCCAGGAAA-1-10x_pbmc
2410  AGCCTGGGTAACCAGC-1-10x_pbmc
2411  GTTTAACCATTTGCTC-1-10x_pbmc

[2412 rows x 1 columns]

In [139]:
atac_adata.var.index = atac_adata.var['features'].to_list()

In [149]:
subset_adata = atac_adata[:,list(regions)]
# Assuming you have row and column names associated with your data
row_names = subset_adata.obs_names
column_names = subset_adata.var_names

# Converting the data matrix to a pandas DataFrame with row and column names
df_atac = pd.DataFrame(subset_adata.X, index=row_names, columns=column_names)

In [152]:
df_atac.to_csv("atac_matrix.csv")
df_rna.to_csv("rna_matrix.csv")